<!DOCTYPE html>
<html lang="tr" class="<%= htmlClass || 'dark-mode' %>">
<head>
    <%- include('head', {
        title: title,
        description: description,
        keywords: keywords,
        cssFiles: cssFiles,
        jsLibraries: jsLibraries,
        jsFiles: jsFiles,
        customScript: customScript,
        backendPort: backendPort
    }) %>
</head>
<body>
    <%- body %>
</body>
</html>
